<h2><%= action_name == 'new' ? 'New' : 'Edit' %>  courier</h2>
<br>
<div class="container">
  <%= form_for @courier do |f| %>
    <div class="col-md-3">
      <%= f.text_field :name, placeholder: "Write name", class: "form-control" %>
    </div>
    <br>
    <div class="col-md-3">
      <%= f.text_field :email, placeholder: "write email", class: "form-control" %>
    </div>
    <br>
    <div class="col-md-3">
      <%= f.submit %>
    </div>
  <% end %>
    <hr>
    <div class="col-md-3"><%= link_to 'Back', couriers_path, class: "btn btn-primary" %></div>
</div>

